#theEntireGame {
	margin:0 auto;
	position: static;
	text-align: center;
	border: solid green;
	width: 20%;
	padding-bottom: 10px;
	background-color: white;
	transition: background-color 4s;
	-webkit-transition: background-color 4s;
}
#background {
	background-color: white;
	height: 100vh;
	transition: 0s;
	-webkit-transition: 0s;
}
#left {
	float: left;
	width: 37%;
	height: 100%
}
#right {
	float: right;
	width: 37%;
	height: 100%
}
#bottom {
	float: center;
	width: 100%;
	height: 10%
}
#healthBar{
	padding-top: 10px;
	margin:auto;
	text-align: center;
	display: block;
}	
.hearts {
	height: 30px;
	width: 30px;
	display: none;
}	
#deathHeart, #deathHeartChild1, #deathHeartChild2 {
	display: none;
}	
#deathHeart {
	top: 17px;
	position: absolute;
	height: 45px;
	width: 50px;
}	
#deathHeartChild1, #deathHeartChild2 {
	display: none;
	height: 30px;
	width: auto;	
}
.start {
	display: block;
}
.ch1 {
	padding-top: 200px;
}
.hidden {
	display: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	text-align: center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: VictoryMove;
    -webkit-animation-duration: 1.5s;
    animation-name: VictoryMove;
    animation-duration: 1.5s
}

/* Add Animation */
@-webkit-keyframes VictoryMove {
    0% {top:-300px; opacity:0}
    20% {top:0; opacity:1}
	80% {top:0; opacity:1}
	100% {top:500px; opacity:0}
}

@keyframes VictoryMove {
    0% {top:-300px; opacity:0}
    20% {top:0; opacity:1}
	80% {top:0; opacity:1}
	100% {top:500px; opacity:0}
}
.ch2 {
	padding-top: 300px;
}
.button2 {
	padding: 0px;
}
.button3 {
	background: white;
    border: none ;
    color: white;
	transition: .1s;
}
.button3:hover {
	background: rgb(250,250,250);
	color: rgb(230,230,230);
	border: default !important;
}
.ch4 {
	padding-top: 200px;
	padding-right: 200px;
}
.space20px {
	padding-bottom:20px;
}	
#divhelperbutton4 {
	visibility: visible;
	width: 72px;
	margin:auto;
}
#divbutton4 {
	visibility: hidden;

}
#skinnybridge {
	visibility: hidden;
	background-color: blue;
	margin: auto;
	width: 10px;
	padding-right: 2px;
	padding-left: 2px;
	height: 300px;
}
#divhelperbutton4:hover ~ #divbutton4 {
	visibility: visible;
}
#divhelperbutton4:hover ~ #skinnybridge {
	visibility: visible;
}
#skinnybridge:hover ~ #divbutton4 {
	visibility: visible;
}
#skinnybridge:hover {
	visibility: visible;
}
#divbutton4:hover {
	visibility: visible;
}
#divlvl5 {

}
#divhelperbutton5 {
	text-align: left;
	padding-left: 20px;
}
.space100px {
	height: 100px;
}	
#div1, #div2, #div3, #div4, #div5 {
    width: 50%;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
    animation: mymove 2s infinite;
	text-align: center;
	background-image: url("othershitidk/lava.gif") !important;
}

/* Chrome, Safari, Opera */
#div1 {-webkit-animation-timing-function: linear; -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */ animation-delay: 1s;}
#div2 {-webkit-animation-timing-function: ease;}
#div3 {-webkit-animation-timing-function: ease-in;     -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */ animation-delay: 1s;}
#div4 {-webkit-animation-timing-function: ease-out;}
#div5 {-webkit-animation-timing-function: ease-in-out; -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */ animation-delay: 1s;}

/* Standard syntax */
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0% {left: 0px;}
    50% {left: 12.5vw;}
	100% {left: 0px;}
}

/* Standard syntax */
@keyframes mymove {
    0% {left: 0px;}
    50% {left: 12.5vw;}
	100% {left: 0px;}
}
#button5 {
	visibility: hidden;
}
#lvl5obstacle {
	visibility: hidden;
}

/* LEVEL 6 */

.rotatingButton1 {
	width: 120px;
    height: 40px;
	position: relative;
    -webkit-animation-name: rotb1; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    animation-name: rotb1;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	z-index: 0;
}
@keyframes rotb1 {
    0%   {left:0px; top:30px; transform: rotate(0deg); }
    25%  {left:200px; top:200px;transform: rotate(90deg);}
    50%  {left:-100px; top:0px;transform: rotate(180deg);}
	75%  {left:-150px; top:-20px;transform: rotate(270deg);}
    100% {left:0px; top:30px;transform: rotate(360deg);}
}
/* Standard syntax */
@-webkit-keyframes rotb1 {
    0%   {left:0px; top:30px; transform: rotate(0deg); }
    25%  {left:200px; top:200px;transform: rotate(90deg);}
    50%  {left:-100px; top:0px;transform: rotate(180deg);}
	75%  {left:-150px; top:-20px;transform: rotate(270deg);}
    100% {left:0px; top:30px;transform: rotate(360deg);}
}
.rotatingButton2 {
	width: 100px;
    height: 30px;
	position: relative;
	background-color: yellow;
    -webkit-animation-name: rotb2; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    animation-name: rotb2;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotb2 {
    0%   {left:-30px; top:0; transform: rotate(-30deg); }
    25%  {left:-30px; top:0;transform: rotate(30deg);}
    50%  {left:-30px; top:0;transform: rotate(-30deg);}
	75%  {left:-30px; top:0;transform: rotate(30deg);}
    100% {left:-30px; top:0;transform: rotate(-30deg);}
}

/* Standard syntax */
@-webkit-keyframes rotb2 {
    0%   {left:-30px; top:0; transform: rotate(-30deg); }
    25%  {left:-30px; top:0;transform: rotate(30deg);}
    50%  {left:-30px; top:0;transform: rotate(-30deg);}
	75%  {left:-30px; top:0;transform: rotate(30deg);}
    100% {left:-30px; top:0;transform: rotate(-30deg);}
}
.rotatingButton3 {
	width: 300px;
    height: 30px;
	position: relative;
	background-color: green;
    -webkit-animation-name: rotb3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 20s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    animation-name: rotb3;
    animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotb3 {
    0%   {left:-240px; top:-240px; transform: rotate(0deg); }
    25%  {left:-240px; top:240px;transform: rotate(-90deg);}
    50%  {left:240px; top:240px;transform: rotate(-180deg);}
	75%  {left:240px; top:-240px;transform: rotate(-270deg);}
    100% {left:-240px; top:-240px;transform: rotate(-360deg);}
}

/* Standard syntax */
@-webkit-keyframes rotb3 {
    0%   {left:-240px; top:-240px; transform: rotate(0deg); }
    25%  {left:-240px; top:240px;transform: rotate(-90deg);}
    50%  {left:240px; top:240px;transform: rotate(-180deg);}
	75%  {left:240px; top:-240px;transform: rotate(-270deg);}
    100% {left:-240px; top:-240px;transform: rotate(0deg);}
}
.rotatingButton4 {
	width: 90px;
	height: 40px;
	background-color: #696605;
	position: absolute;
	top: 200px;
	left: 50%;
	margin: -20px;
	animation: rotb4 3s infinite linear;
}
@keyframes rotb4 {
	from {
		transform: rotate(0deg)
		           translate(-150px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-150px) 
		           rotate(-360deg);
	}
}
.rotatingButton5 {
	width: 10px;
    height: 200px;
	position: relative;
	background-color: #5F2505;
    -webkit-animation-name: rotb5; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    animation-name: rotb5;
    animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotb5 {
    0%   {left:-240px; top:-240px; transform: rotate(0deg); }
    25%  {left:-240px; top:240px;transform: rotate(-90deg);}
    50%  {left:240px; top:240px;transform: rotate(-180deg);}
	75%  {left:240px; top:-240px;transform: rotate(-270deg);}
    100% {left:-240px; top:-240px;transform: rotate(-360deg);}
}

/* Standard syntax */
@-webkit-keyframes rotb5 {
    0%   {left:-240px; top:-240px; transform: rotate(0deg); }
    25%  {left:-240px; top:240px;transform: rotate(-90deg);}
    50%  {left:240px; top:240px;transform: rotate(-180deg);}
	75%  {left:240px; top:-240px;transform: rotate(-270deg);}
    100% {left:-240px; top:-240px;transform: rotate(0deg);}
}
.rotatingButton6 {
	width: 70px;
    height: 90px;
	position: relative;
	background-color: red;
	top: 200px;
	left: 350px;
}
.rotatingButton7 {
	width: 60px;
    height: 30px;
	right: 320px;
	top: 140px;
	position: relative;
	background-color: #820078;
    -webkit-animation-name: rotb7; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .2s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
    animation-name: rotb7;
    animation-duration: .2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotb7 {
    0%   {transform: rotate(0deg); }
    100% {transform: rotate(360deg);}
}

/* Standard syntax */
@-webkit-keyframes rotb7 {
    0%   {transform: rotate(0deg); }
    100% {transform: rotate(360deg);}
}
#child1, #deathHeartChild1 {
	left:150px;
	position: relative;
	font-size: 10px;
	background-color: #C7E6F0;
}
#child2, #deathHeartChild2 {
	right:150px;
	position: relative;
	font-size: 10px;
	background-color: #F2C4E1;
}
#divhelperbutton5 {
	
}
#divhelperbutton5 {
	
}
#divhelperbutton5 {
	
}
#divhelperbutton5 {
	
}
#divhelperbutton5 {
	
}